<form name="simple_form" id="simple_form" action="https://getsimpleform.com/messages?form_api_token={{ token | e('html_attr') }}" enctype="multipart/form-data" method="post">

    {# Redirect URL after submit #}
    <input type="hidden" name="redirect_to" value="{{ redirect_to | e('html_attr') }}" />

    {# START: input form here #}
    <div class="row 50%">
        <div class="6u 12u(mobile)">
            <input type="text" name="name" id="name" placeholder="Name" required />
        </div>
        <div class="6u 12u(mobile)">
            <input type="email" name="email" id="email" placeholder="name@example.com" required />
        </div>
    </div>
    <div class="row 50%">
        <div class="12u">
            <textarea name="message" rows="8" id="message" placeholder="Your message here" required></textarea>
            {# END: input form here #}
        </div>
    </div>
    <div class="row">
        <div class="12u">
            <button class="button special ">Submit</button>
        </div>
    </div>
</form>
